openapi: 3.0.3
info:
  title: AppLovin Axon Campaign Management Ad Units Waterfalls API
  version: v1
  x-generated-from: documentation
  x-source-url: https://support.axon.ai/en/app-discovery/api/axon-campaign-management-api/
  x-last-validated: '2026-05-05'
  description: 'REST endpoints used to programmatically manage AppLovin AppDiscovery

    (Axon) campaigns, creative sets, and creative assets. All endpoints

    require an `Authorization` header with the Campaign Management API key

    and an `account_id` query parameter. Rate limit: 1,000 requests per 60

    seconds (HTTP 429 on overflow).

    '
  contact:
    name: AppLovin Support
    url: https://support.axon.ai
servers:
- url: https://api.ads.axon.ai/manage/v1
  description: Axon campaign management API
security:
- bearerAuth: []
tags:
- name: Waterfalls
  description: Per-segment waterfall management
paths:
  /ad_unit/{ad_unit_id}/{segment_id}:
    get:
      operationId: getAdUnitWaterfall
      summary: Get Ad Unit Waterfall
      description: Retrieve the waterfall configuration for a segment.
      tags:
      - Waterfalls
      parameters:
      - $ref: '#/components/parameters/AdUnitId'
      - $ref: '#/components/parameters/SegmentId'
      responses:
        '200':
          description: Waterfall configuration for the segment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Waterfall'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: updateAdUnitWaterfall
      summary: Update Ad Unit Waterfall
      description: Create, edit, promote, or remove a waterfall for a segment.
      tags:
      - Waterfalls
      parameters:
      - $ref: '#/components/parameters/AdUnitId'
      - $ref: '#/components/parameters/SegmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Waterfall'
      responses:
        '200':
          description: Updated waterfall.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Waterfall'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AdNetworkAdUnit:
      type: object
      properties:
        ad_network_ad_unit_id:
          type: string
        country_targeting_type:
          type: string
          enum:
          - INCLUDE
          - EXCLUDE
        countries:
          type: array
          items:
            type: string
        cpm:
          type: number
    BidFloor:
      type: object
      properties:
        country_group_name:
          type: string
        cpm:
          type: number
        countries:
          type: object
          additionalProperties:
            type: number
    AdNetworkSetting:
      type: object
      properties:
        ad_network:
          type: string
        ad_network_ad_units:
          type: array
          items:
            $ref: '#/components/schemas/AdNetworkAdUnit'
        cpm:
          type: number
        country_targeting_type:
          type: string
          enum:
          - INCLUDE
          - EXCLUDE
        countries:
          type: array
          items:
            type: string
    Waterfall:
      type: object
      properties:
        ad_unit_id:
          type: string
        segment_id:
          type: string
        ad_network_settings:
          type: array
          items:
            $ref: '#/components/schemas/AdNetworkSetting'
        bid_floors:
          type: array
          items:
            $ref: '#/components/schemas/BidFloor'
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
      required:
      - code
  responses:
    Unauthorized:
      description: Missing or invalid Api-Key header.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    AdUnitId:
      name: ad_unit_id
      in: path
      required: true
      description: Ad unit identifier.
      schema:
        type: string
    SegmentId:
      name: segment_id
      in: path
      required: true
      description: Segment identifier scoped under the ad unit.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Campaign Management API key passed in the `Authorization` header.
