openapi: 3.0.3
info:
  title: AppLovin Conversion API for Lead Generation
  version: v1
  x-generated-from: documentation
  x-source-url: https://support.axon.ai/en/growth/promoting-your-websites/api/lead-gen-capi/
  x-last-validated: '2026-05-05'
  description: |
    Server-to-server conversion API (CAPI) used to deliver `page_view` and
    `generate_lead` events to AppLovin / Axon for attribution and
    optimization. Up to 100 events can be batched per request, deduplicated
    against pixel-fired client-side events via `dedupe_id`. PII fields like
    email and phone are auto-hashed with SHA-256.
  contact:
    name: AppLovin Support
    url: https://support.axon.ai
servers:
  - url: https://b.applovin.com
    description: AppLovin conversion ingestion host
security:
  - bearerAuth: []
tags:
  - name: Conversion Events
    description: Server-to-server conversion event ingestion
paths:
  /v1/event:
    post:
      operationId: postConversionEvents
      summary: Post Conversion Events
      description: |
        Submit a batch of up to 100 server-side conversion events
        (`page_view`, `generate_lead`) for ingestion against your Axon Pixel.
        At least one user identifier is required per event in `user_data`.
      tags:
        - Conversion Events
      parameters:
        - name: pixel_id
          in: query
          required: true
          description: Axon Event Key for the destination pixel.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventBatch'
            examples:
              pageView:
                summary: Page view event
                value:
                  events:
                    - event_time: 1741784485001
                      event_source_url: https://applovin.com
                      name: page_view
                      data: null
                      user_data:
                        client_ip_address: 172.59.8.172
                        client_user_agent: chrome/123.456 android mobile
                        aleid: _aleid-query-param
                        axwrt: _axwrt-cookie-value
                        user_id: _user_id
                        esi: web
              generateLead:
                summary: Generate lead event
                value:
                  events:
                    - event_time: 1741784485001
                      event_source_url: https://applovin.com
                      name: generate_lead
                      data:
                        currency: USD
                        value: 30
                      user_data:
                        client_ip_address: 172.59.8.172
                        client_user_agent: chrome/123.456 android mobile
                        email: user@example.com
                        esi: web
      responses:
        '200':
          description: All events processed successfully.
        '400':
          description: Request error; entire batch dropped.
        '401':
          description: Authentication failed.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Conversion API key passed in the `Authorization` header.
  schemas:
    EventBatch:
      type: object
      description: |
        Wrapper around the events array. x-schema-source: documentation
      properties:
        events:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/ServerEvent'
      required:
        - events
    ServerEvent:
      type: object
      properties:
        name:
          type: string
          enum:
            - page_view
            - generate_lead
          description: Event type.
        event_time:
          type: integer
          format: int64
          description: Unix epoch time of the event in milliseconds.
        event_source_url:
          type: string
          format: uri
          description: Complete URL where the event occurred.
        data:
          oneOf:
            - $ref: '#/components/schemas/EventData'
            - type: 'null'
          description: Event-specific data. Null for page_view, EventData for generate_lead.
        user_data:
          $ref: '#/components/schemas/UserData'
        dedupe_id:
          type: string
          description: Unique identifier used to deduplicate against pixel-fired events.
      required:
        - name
        - event_time
        - event_source_url
        - data
        - user_data
    EventData:
      type: object
      description: Required for generate_lead events; null for page_view.
      properties:
        currency:
          type: string
          description: ISO 4217 three-letter currency code.
          example: USD
        value:
          type: number
          minimum: 0
          description: Monetary value of the lead.
      required:
        - currency
        - value
    UserData:
      type: object
      description: |
        User identifiers and browser context. At least one of (`aleid`,
        `axwrt`, `alart`, `client_id`, `user_id`, `email`, `phone`) is
        required. `email` and `phone` are auto-hashed with SHA-256 if not
        already hashed.
      properties:
        aleid:
          type: string
          description: AppLovin event ID from the URL parameter.
        axwrt:
          type: string
          description: Axon Pixel cookie value.
        alart:
          type: string
          description: App user tracking parameter.
        client_id:
          type: string
          description: First-party stable identifier.
        user_id:
          type: string
          description: Customer-defined unique identifier.
        email:
          type: string
          description: User email; SHA-256 hashed automatically.
        phone:
          type: string
          description: User phone; SHA-256 hashed automatically.
        client_ip_address:
          type: string
          description: IPv4 or IPv6 client IP.
        client_user_agent:
          type: string
          description: Browser user agent string.
        esi:
          type: string
          enum:
            - web
            - app
          description: 'Event source: web or app.'
        country_code:
          type: string
          description: ISO 3166 billing country code.
        zip:
          type: string
          description: Billing zip (first 5 digits in US).
        os:
          type: string
          enum:
            - ios
            - android
            - desktop_os
          description: Operating system.
        sid:
          type: string
          description: Session ID.
        ifa:
          type: string
          description: Identifier for advertisers (IDFA / GAID).
        idfv:
          type: string
          description: Identifier for vendors.
      required:
        - client_ip_address
        - client_user_agent
        - esi
