openapi: 3.2.0
info:
  title: AppLovin Axon Campaign Management Ad Units Creative Sets API
  version: v1
  x-generated-from: documentation
  x-source-url: https://support.axon.ai/en/app-discovery/api/axon-campaign-management-api/
  x-last-validated: '2026-05-05'
  description: 'REST endpoints used to programmatically manage AppLovin AppDiscovery

    (Axon) campaigns, creative sets, and creative assets. All endpoints

    require an `Authorization` header with the Campaign Management API key

    and an `account_id` query parameter. Rate limit: 1,000 requests per 60

    seconds (HTTP 429 on overflow).

    '
  contact:
    name: AppLovin Support
    url: https://support.axon.ai
servers:
- url: https://api.ads.axon.ai/manage/v1
  description: Axon campaign management API
security:
- bearerAuth: []
tags:
- name: Creative Sets
  description: Creative set lifecycle operations
paths:
  /creative_set/list:
    get:
      operationId: listCreativeSets
      summary: List Creative Sets
      description: List creative sets, optionally filtered by IDs.
      tags:
      - Creative Sets
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: ids
        in: query
        required: false
        schema:
          type: string
        description: Comma-separated creative set IDs.
      - name: hashed_ids
        in: query
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: Array of CreativeSet objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreativeSet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /creative_set/list_by_campaign_id:
    get:
      operationId: listCreativeSetsByCampaignId
      summary: List Creative Sets By Campaign ID
      description: List creative sets grouped by campaign ID.
      tags:
      - Creative Sets
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: ids
        in: query
        required: true
        description: Comma-separated campaign IDs.
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: Creative sets grouped by campaign.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeSetsByCampaign'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /creative_set/create:
    post:
      operationId: createCreativeSet
      summary: Create Creative Set
      description: Create a new creative set under a campaign.
      tags:
      - Creative Sets
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeSet'
      responses:
        '200':
          description: Created creative set reference.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeSetRef'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /creative_set/update:
    post:
      operationId: updateCreativeSet
      summary: Update Creative Set
      description: Update an existing creative set.
      tags:
      - Creative Sets
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeSet'
      responses:
        '200':
          description: Updated creative set reference.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeSetRef'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /creative_set/clone:
    post:
      operationId: cloneCreativeSet
      summary: Clone Creative Set
      description: Clone an existing creative set into the same campaign.
      tags:
      - Creative Sets
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - campaign_id
              - creative_set_id
              properties:
                campaign_id:
                  type: string
                creative_set_id:
                  type: string
                status:
                  type: string
                  enum:
                  - LIVE
                  - PAUSED
              example:
                campaign_id: '12345'
                creative_set_id: '39823'
                status: LIVE
      responses:
        '200':
          description: Cloned creative set reference.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeSetRef'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    AccountId:
      name: account_id
      in: query
      required: true
      description: Account identifier issued by AppLovin / Axon.
      schema:
        type: string
    Page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
    Size:
      name: size
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 100
  responses:
    Unauthorized:
      description: Missing or invalid Authorization header.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Rate limit exceeded (1,000 requests per 60 seconds).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Validation or input error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
      required:
      - code
    CreativeSetRef:
      type: object
      properties:
        id:
          type: string
      required:
      - id
    CreativeSet:
      type: object
      properties:
        id:
          type: string
        campaign_id:
          type: string
        name:
          type: string
        type:
          type: string
        status:
          type: string
          enum:
          - LIVE
          - PAUSED
        assets:
          type: array
          items:
            $ref: '#/components/schemas/CreativeSetAsset'
        languages:
          type: array
          items:
            type: string
        countries:
          type: array
          items:
            type: string
        product_page:
          type: string
      required:
      - campaign_id
      - type
      - assets
    CreativeSetAsset:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
        url:
          type: string
          format: uri
        type:
          type: string
          enum:
          - HOSTED_HTML
          - VID_LONG_P
          - VID_SHORT_P
          - IMG_BANNER
          - IMG_INTER_P
        resource_type:
          type: string
          enum:
          - image
          - html
          - video
    CreativeSetsByCampaign:
      type: object
      properties:
        campaign_count:
          type: integer
        creative_set_count:
          type: integer
        campaigns:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/CreativeSet'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Campaign Management API key passed in the `Authorization` header.
