openapi: 3.2.0
info:
  title: AppLovin MAX Ad Unit Management Experiments API
  version: v1
  x-generated-from: documentation
  x-source-url: https://support.axon.ai/en/max/advanced-features/ad-unit-management-api
  x-last-validated: '2026-05-05'
  description: 'Programmatic management of AppLovin MAX ad units, waterfalls,

    experiments, and test devices. Authentication uses the `Api-Key` HTTP

    header. Rate limit: 2,000 requests per hour.'
  contact:
    name: AppLovin Support
    url: https://support.axon.ai
servers:
- url: https://o.applovin.com/mediation/v1
  description: AppLovin MAX mediation management host
security:
- apiKeyHeader: []
tags:
- name: Experiments
  description: Ad unit A/B experiment management
paths:
  /ad_unit_experiment/{ad_unit_id}:
    get:
      operationId: getAdUnitExperiment
      summary: Get Ad Unit Experiment
      tags:
      - Experiments
      parameters:
      - $ref: '#/components/parameters/AdUnitId'
      responses:
        '200':
          description: Experiment configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnitExperiment'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: upsertAdUnitExperiment
      summary: Upsert Ad Unit Experiment
      description: 'Create, update, promote, or deprecate an ad unit experiment. To

        create, omit or null the `id` field. To promote or deprecate, set

        `promote: true` or `deprecate: true`.'
      tags:
      - Experiments
      parameters:
      - $ref: '#/components/parameters/AdUnitId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdUnitExperiment'
      responses:
        '200':
          description: Created or updated experiment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdUnitExperiment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /ad_unit_experiment/{ad_unit_id}/{segment_id}:
    get:
      operationId: getAdUnitExperimentWaterfall
      summary: Get Ad Unit Experiment Waterfall
      tags:
      - Experiments
      parameters:
      - $ref: '#/components/parameters/AdUnitId'
      - $ref: '#/components/parameters/SegmentId'
      responses:
        '200':
          description: Experiment waterfall.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Waterfall'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: updateAdUnitExperimentWaterfall
      summary: Update Ad Unit Experiment Waterfall
      tags:
      - Experiments
      parameters:
      - $ref: '#/components/parameters/AdUnitId'
      - $ref: '#/components/parameters/SegmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Waterfall'
      responses:
        '200':
          description: Updated experiment waterfall.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Waterfall'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Waterfall:
      type: object
      properties:
        ad_unit_id:
          type: string
        segment_id:
          type: string
        ad_network_settings:
          type: array
          items:
            $ref: '#/components/schemas/AdNetworkSetting'
        bid_floors:
          type: array
          items:
            $ref: '#/components/schemas/BidFloor'
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
      required:
      - code
    AdNetworkSetting:
      type: object
      properties:
        ad_network:
          type: string
        ad_network_ad_units:
          type: array
          items:
            $ref: '#/components/schemas/AdNetworkAdUnit'
        cpm:
          type: number
        country_targeting_type:
          type: string
          enum:
          - INCLUDE
          - EXCLUDE
        countries:
          type: array
          items:
            type: string
    AdUnitExperiment:
      type: object
      properties:
        id:
          type: string
        ad_unit_id:
          type: string
        experiment_name:
          type: string
        promote:
          type: boolean
        deprecate:
          type: boolean
        ad_network_settings:
          type: array
          items:
            $ref: '#/components/schemas/AdNetworkSetting'
      required:
      - experiment_name
    BidFloor:
      type: object
      properties:
        country_group_name:
          type: string
        cpm:
          type: number
        countries:
          type: object
          additionalProperties:
            type: number
    AdNetworkAdUnit:
      type: object
      properties:
        ad_network_ad_unit_id:
          type: string
        country_targeting_type:
          type: string
          enum:
          - INCLUDE
          - EXCLUDE
        countries:
          type: array
          items:
            type: string
        cpm:
          type: number
  parameters:
    SegmentId:
      name: segment_id
      in: path
      required: true
      description: Segment identifier scoped under the ad unit.
      schema:
        type: string
    AdUnitId:
      name: ad_unit_id
      in: path
      required: true
      description: Ad unit identifier.
      schema:
        type: string
  responses:
    BadRequest:
      description: Validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid Api-Key header.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: Api-Key
      description: Management Key from AppLovin dashboard (Account > General > Keys).
